import React from 'react';

import EditComponent from '../EditComponent';

import { insert{{ properCase name }} } from '../redux';

export default () => <EditComponent
  action={ insert{{ properCase name }} }
  errorMessage={'Insert failed'}
/>;
