import React from 'react';

import { Flex } from 'reflexbox';

import { Field } from 'redux-form';
import { TextField } from 'redux-form-material-ui';

import Button from '@material-ui/core/Button';
import Typography from '@material-ui/core/Typography';

const EditComponent = ({ handleSubmit }) => <Flex column justify='center' align='right'>
  <Typography variant='display3'>LABEL</Typography>
  <form onSubmit={handleSubmit}>
    <Flex column auto justify='space-around'>
    {{#each fields}}
      <Field name='{{ name }}'
        component={TextField}
        label='{{ name }}' />
    {{/each}}

      <Button
        variant='contained'
        type='submit'
        name='login'
        color='secondary'>
        LABEL
        </Button>
    </Flex>
  </form>
</Flex>;

export default EditComponent;
