import { connect } from 'react-redux';
import { compose, lifecycle } from 'recompose';

import alerter from '../../common/alerter';

import {{ plurUpperCase name }} from './{{ plurUpperCase name }}';
import { load{{ plurUpperCase name }}, remove{{ properCase name }} } from './redux';

export default compose(
  connect(
    ({ {{ plurCamelCase name }}: { data } = {} }) => ({ {{ plurCamelCase name }}: data }),
    dispath => ({
      loadData: async function () {
        const { error } = await dispath(load{{ plurUpperCase name }}());

        if (error) {
          alerter({
            message: 'הטעינה נכשלה'
          });
        }
      },
      onDelete: async function (id) {
        const { error } = await dispath(remove{{ properCase name }}(id));

        alerter({
          message: error
            ? 'המחיקה נכשלה'
            : 'המחיקה הסתיימה בהצלחה'
        });
      }
    })
  ),
  lifecycle({
    componentDidMount() {
      const { loadData } = this.props;
      loadData();
    }
  })
)({{ plurUpperCase name }});
