import React, { Fragment } from 'react';

import List from '@material-ui/core/List';
import ListItem from '@material-ui/core/ListItem';
import ListItemText from '@material-ui/core/ListItemText';
import LeftListItemSecondaryAction from '../../common/LeftListItemSecondaryAction';
import ModeEditIcon from '@material-ui/icons/ModeEdit';
import IconButton from '@material-ui/core/IconButton';
import Tooltip from '@material-ui/core/Tooltip';

import redirect from '../../common/navigation';
import NewButton from '../../common/new-button';

import DeleteAction from '../../common/DeleteAction';

export default ({ {{ plurCamelCase name }} = [], onDelete }) => <Fragment>
  <List>
    { {{ plurCamelCase name }}.map(({ id, name }) => <ListItem button
      key={id}
      divider={true}
      onClick={() => redirect(`/{{ plurCamelCase name }}/${id}`)}>
      <ListItemText
        style={
          { textAlign: 'right' }
        }
        primary={`${name}`}
        secondary={`${name}`} />
      <LeftListItemSecondaryAction>
        <Tooltip id="edit-icon" title="ערוך">
          <IconButton>
            <ModeEditIcon onClick={() => redirect(`/{{plurCamelCase name}}/${id}/edit`)} />
          </IconButton>
        </Tooltip>
        <DeleteAction onDelete={() => onDelete(id)} name={name} type={`${name}`} />
      </LeftListItemSecondaryAction>
    </ListItem>
    )}
  </List>
  <NewButton path={'/{{ plurCamelCase name }}/new/'} />
</Fragment>;
