import { createAction } from 'redux-actions';
import { resolve, reject } from 'redux-simple-promise';

import {
  started as deleteStarted,
  resolved as deleteResolved,
  rejected as deleteRejected
} from '../../common/redux-actions/delete';

export const LOAD = 'LOAD_{{ plurUpperAll name }}';
export const INSERT = 'INSERT_{{ upperAll name }}';
export const EDIT = 'EDIT_{{ upperAll name }}';
export const FETCH = 'FETCh_{{ upperAll name }}';
export const REMOVE = 'REMOVE_{{ upperAll name }}';

const internalState = {
  loading: false,
  deleted: []
};

export default (state = internalState, { type, payload: { data, request } = {}, meta }) => {
  switch (type) {
    case LOAD: {
      return { ...state, loading: true };
    }

    case resolve(LOAD): {
      return { ...state, data, loading: false };
    }

    case reject(LOAD): {
      return { ...state, loading: false };
    }

    case resolve(FETCH): {
      const { id } = data;
      return { ...state, [id]: data };
    }

    case resolve(EDIT): {
      const { id } = data;
      return { ...state, [id]: data };
    }

    case resolve(INSERT): {
      return { ...state, data: [...state.data, data] };
    }
    case REMOVE: {
      return deleteStarted(state, request);
    }

    case resolve(REMOVE): {
      return deleteResolved(state, meta);
    }

    case reject(REMOVE): {
      return deleteRejected(state, meta);
    }

    default: {
      return state;
    }
  }
};

export const load{{ plurUpperCase name }} = createAction(LOAD, () => ({
  request: {
    url: '/{{ plurCamelCase name }}',
    method: 'GET'
  }
})
);

export const fetch{{ properCase name }} = createAction(FETCH, id => ({
  request: {
    url: `/{{ plurCamelCase name }}/${id}`,
    method: 'GET'
  }
})
);

export const remove{{ properCase name }} = createAction(REMOVE, id => ({
  request: {
    url: `/{{ plurCamelCase name }}/${id}`,
    method: 'DELETE',
    id
  }
})
);

export const edit{{ properCase name }} = createAction(EDIT, data => ({
  request: {
    url: '/{{ plurCamelCase name }}',
    method: 'PUT',
    data
  }
}));

export const insert{{ properCase name }} = createAction(INSERT, data => ({
  request: {
    url: '/{{ plurCamelCase name }}',
    method: 'POST',
    data
  }
})
);
