import db from '../../config/mongoose';

import { byId } from '../common/validated-query';
import ensure from '../common/validate';
import validation from '../../../common/validators/{{ dashCase name}}';

const {{properCase name}} = db.model('{{properCase name}}');

export async function getAll() {
  return await {{properCase name}}.find();
}

export async function fetch({ params: { id } }) {
  const {{camelCase name}} = await byId({{properCase name}}, id);
  return {{camelCase name}};
}

export async function insert({ body }) {
  ensure(body, validation);

  const {{camelCase name}} = await new {{properCase name}}({ ...body }).save();

  return {{camelCase name}};
}

export async function update({ body }) {
  ensure(body, validation);

  const {{camelCase name}} = await {{properCase name}}.findById(body.id).exec();

  {{camelCase name}}.$set({ ...body });

  const result = await {{camelCase name}}.save();

  return result;
}

export async function remove({ params: { id } }) {
  await {{properCase name}}.findByIdAndRemove(id);
}
