import mongoose from 'mongoose';

const {{camelCase name}}Schema = mongoose.Schema({
  name: {
    type: String,
    required: true,
    unique: true
  }, 
  {{ mongooseFields fields }}
});

export default mongoose.model('{{properCase name}}', {{camelCase name}}Schema);
