import { connect } from 'react-redux';
import { compose, lifecycle } from 'recompose';

import alerter from '../../../common/alerter';
import redirect from '../../../common/navigation';

import Edit from './Edit';

import { edit{{ properCase name }}, fetch{{ properCase name }} } from '../redux';

export default compose(
  connect(
    ({ {{ plurCamelCase name }} }, { params: { id } }) => ({
      data: {{ plurCamelCase name }}[id],
      action: edit{{ properCase name }}
    }),
    (dispath, { params: { id } }) => ({
      fetch: async function () {
        const { error } = await dispath(fetch{{ properCase name }}(id));

        if (error) {
          alerter({
            message: 'המשתמש לא נמצא'
          });

          redirect('/{{ plurCamelCase name }}');
        }
      }
    })
  ),
  lifecycle({
    componentDidMount() {
      const { fetch } = this.props;
      fetch();
    }
  })
)(Edit);
