.circle-icon {
    animation: flip 1s ease 0 1 reverse;
}

.circle-icon.circle-icon-flip {
  animation: flip 0.5s ease;
  transform: rotate(180deg);
}

@keyframes flip {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(180deg);
  }
}

.expended-filter-open {
  animation: open-expended-filter 3s ease;
  height: fit-content;
  opacity: 1;
}

.expended-filter-close {
  height: 0;
  opacity: 0;
}

@keyframes open-expended-filter {
  0% {
    height: 0;
    opacity: 0;
  }

  100% {
    height: auto;
    opacity: 1;
  }
}