import React from 'react';

import CircularProgress from '@material-ui/core/CircularProgress';
import Typography from '@material-ui/core/Typography';

import { Flex } from 'reflexbox';

export default ({ data: { {{ fullScreenFieldsParams fields }} } = {}, loaded }) => !loaded
  ? <CircularProgress />
  : <Flex column auto>
    <Typography variant='display4' gutterBottom>{name}</Typography >
    {{#each fields}}
    <div>
      <Typography>{{ name }}:</Typography>
      <Typography variant='title' gutterBottom>{ {{ name }} }</Typography>
    </div>
    {{/each}}    
  </Flex >;
