import { connect } from 'react-redux';
import { compose, lifecycle } from 'recompose';

import alerter from '../../../common/alerter';
import redirect from '../../../common/navigation';

import FullScreen from './FullScreen';

import { fetch{{ properCase name }} } from '../redux';

export default compose(
  connect(
    ({ {{ plurCamelCase name }} }, { params: { id } }) => ({
      data: {{ plurCamelCase name }}[id],
      loaded: !!{{ plurCamelCase name }}[id]
    }),
    (dispath, { params: { id } }) => ({
      fetch: async function () {
        const { error } = await dispath(fetch{{ properCase name }}(id));

        if (error) {
          alerter({
            message: 'The requested {{ properCase name }} not found'
          });

          redirect('/{{ plurCamelCase name }}');
        }
      }
    })
  ),
  lifecycle({
    componentDidMount() {
      const { fetch } = this.props;
      fetch();
    }
  })
)(FullScreen);
